body {
    font-family: var(--primary-font);
    margin: 0;
    padding: 0;
    color: var(--navigation-color);
}

/* Container for the filters and products */
.makeup-container {
    display: flex;
    padding: 20px;
}
/* The next 2 lines were adapted from this website: https://www.geeksforgeeks.org/how-to-change-the-color-of-range-slider-in-css/ */
input[type="range"] {
    width: 200px;        
    accent-color: pink; 
  }

/* Filter Section Styling */
.filter-section {
    width: 250px;
}
  
.filter-section h2 {
    margin-top: 0;
    font-size: 1.70rem;
}
  
/* Filter groups in the sidebar */
  .filter-group {
    margin-bottom: 20px;
}
  
.filter-group h3 {
    margin-bottom: 10px;
}
  
.filter-group div {
    margin-bottom: 8px;
}

/* Products Container */
.products-container {
    margin: 0 auto;
    display: grid;
    grid-gap: 20px;
}

/* Figures Styling */
.product {
    background: #fff;
    text-align: start;
    margin-top: 15px;
    margin-bottom: 15px;
}
  
.product img {
    width: 100%;
    border-radius: 5px;
}
  
.product figcaption {
    margin-top: 8px;
    font-size: 0.9rem;
}

.product-description {
    color: #c86460;
}

/* Responsiveness */

@media screen and (min-width: 750px) {
    .products-container {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
    }
}